.app {
  text-align: center;
}
.avengersendgamecover {
  width: 100%;
  height: auto;
}
.row {
  display: flex;
}
.card {
  flex: 1;
  position: relative;
  overflow: hidden;
}
.overlay {
  transition: bottom ease 0.9s;
  position: absolute;
  bottom: -100px;
  left: 0px;
  background: red;
  width: 100%;
  opacity: 1;
}
.card:hover .overlay {
  display: block;
  opacity: 0.6;
  bottom: 0;
}
.overlay h2 {
  color: white;
  text-align: center;
  height: 100%;
}
img {
  max-width: 100%;
  display: block;
}
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .row {
    flex-direction: column;
  }
  .overlay h2 {
    color: white;
    text-align: center;
    font-size: 35px;
    
  }
}
/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
}
/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
}
/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
}
/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
}
